### Fetch ANY stock data

##### This allows you to download data of any stock until the latest day available. Make sure to login in Alice Blue before using this.

In [10]:
import pandas as pd
import numpy as np
from db_ops import *
from pya3 import *
import yaml

def tuple_constructor(loader, node):
    # Convert the string representation of a tuple to a Python tuple
    return tuple(loader.construct_sequence(node))

# Register the custom constructor for PyYAML
yaml.SafeLoader.add_constructor(u'tag:yaml.org,2002:seq', tuple_constructor)

# Reading config file
config_name='config.yml'
with open (config_name, 'r') as file:
    config=yaml.safe_load(file)

def login_aliceB(config):
    alice = Aliceblue(user_id=config['general_info']['alice_blue']['user_id'],api_key=config['general_info']['alice_blue']['api_key'])
    session = alice.get_session_id() # Get Session ID
    if session['stat'] == 'Ok':
        print('Alice Blue Session Created!!!')
        return alice
    return False


STOCKNAME = "ABB"
alice = login_aliceB(config)
data = fetchData(STOCKNAME + ".NS")
# MAKE SURE TO LOGIN IN ALICE BLUE
data = fetchAdditionalData(data, "NSE", STOCKNAME, alice) # IF YOU NEED UPDATED DATA TILL TODAY, RUN THIS FUNCTION AFTER LOGGING IN ALICE BLUE

Alice Blue Session Created!!!
NOTE: Today's contract master file will be updated after 08:00 AM. Before 08:00 AM previous day contract file be downloaded.

In [11]:
data.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
5239,2023-07-28 00:00:00+05:30,4424.950195,4541.950195,4410.250000,4516.200195,415070.0,0.0,0.0
5240,2023-07-31 00:00:00+05:30,4505.549805,4608.000000,4505.549805,4552.799805,254120.0,0.0,0.0
5241,2023-08-01 00:00:00+05:30,4578.750000,4589.299805,4498.000000,4519.649902,119691.0,0.0,0.0
5242,2023-08-02 00:00:00+05:30,4508.000000,4557.000000,4380.000000,4408.000000,217964.0,0.0,0.0
5243,2023-08-03 00:00:00+05:30,4408.000000,4438.000000,4325.000000,4372.950000,195937.0,NaN,NaN

# BackTesting

### Create scorecard variables and Buy/Sell flags

##### This will create a csv file named 'Backtest_action_tables.csv' which will have scorecard variables along with Buy/Sell flag for the period mentioned in the config file

In [1]:
from scorecard_backtest import *

main()

Alice Blue Session Created!!!
Session ID:  {'stat': 'Ok', 'sessionID': 'aSQ41H7S0N2HvW7VIXMNiySzVu5jDHJlZrkOfbCzLcn5vte1moNMBrNDO3hiEKAv4tHVyjRtI3f9Po8eAXPsQb6fMrykcStL4lRJ4ReLENVRUdUhqe3GFScgMBtlvOGHcMz0REL08Vv8P4XLesRDE0aaFnDaNOtXbyHPzpKH91LFzC2rJAdLjDvxMOtnJMuDBMJBx1EFXSdXHlJWqroZct7G1kJzeE93leHibO4Z7WyLd01xloR0rHpGZkGJsWtM'}
ABB
ACC
ADANIENT
ADANIGREEN
ADANIPORTS
ATGL
ADANITRANS
AWL
AMBUJACEM
APOLLOHOSP

### Backtesting

##### This will perform the backtesting by taking the action table created above as input. It will store the trades takes, transactions done, profits and cash info accordingly.

In [2]:
import warnings
from backtest import *
warnings.filterwarnings('ignore')

action_table = pd.read_csv('Backtest_action_tables.csv')
obj = Backtest(investment=100000)
obj.fit(action_table)

Action table had zero Sell flag
Backtesting has been completed!

### Scorecard performance band wise

In [3]:
obj.get_scorecard_performance()

Action table had zero Sell flag

### List of trades taken

In [4]:
obj.trades

[]

### List of transactions

In [5]:
obj.transactions

[{'Action': 'Buy', 'Name': 'ABB', 'Price': 1687.95556640625, 'Qty': 1.0},
 {'Action': 'Buy', 'Name': 'ADANIENT', 'Price': 1418.227783203125, 'Qty': 2.0},
 {'Action': 'Buy',
  'Name': 'ADANIGREEN',
  'Price': 882.2999877929688,
  'Qty': 3.0},
 {'Action': 'Buy',
  'Name': 'ADANIPORTS',
  'Price': 665.3862915039062,
  'Qty': 5.0},
 {'Action': 'Buy', 'Name': 'ATGL', 'Price': 892.12255859375, 'Qty': 3.0},
 {'Action': 'Buy',
  'Name': 'ADANITRANS',
  'Price': 893.4500122070312,
  'Qty': 3.0},
 {'Action': 'Buy', 'Name': 'ACC', 'Price': 2305.93310546875, 'Qty': 4.0},
 {'Action': 'Buy',
  'Name': 'AMBUJACEM',
  'Price': 397.9391479492188,
  'Qty': 25.0},
 {'Action': 'Buy',
  'Name': 'APOLLOHOSP',
  'Price': 4016.11083984375,
  'Qty': 2.0},
 {'Action': 'Buy', 'Name': 'AWL', 'Price': 268.25, 'Qty': 4.0}]

# SCORECARD VARIABLES
#### IF you need to create just scorecard variables then use below code
#### data = OHLC Data of any stock

In [ ]:
from scorecard import *

data = create_scorecard_variables(data)